:root {
    --primary-color: #073b4c;
    --secondary-color: #118ab2;
    --third-color: #06d6a0;
    --fourth-color: #ffd166;
    --fifth-color: #ef476f;
    --white-color: #fff;
    --white-ligth-color: rgb(219, 210, 210);
    --black-color: #000;
}

* {
    font-family: 'Fira Sans', sans-serif;
}
body {
    background-image: url(https://www.wallpapertip.com/wmimgs/2-20640_eiffel-tower.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color:var(--black-color);
}

.navBar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 5rem;
    border-bottom: 0.02rem solid rgb(223, 215, 215);
}
/* Media Queries */
@media (max-width: 600px) {
    .navBar {
      display:flex;
      flex-direction:column;
      height:auto;
      justify-content: center;
      align-items: center;
    }
}
    
/* Media Queries */

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10%;
    align-items: center;
    padding-top: 0.4rem;
}
/* Media Queries */
@media (max-width: 600px) {
    .logo-container {
        width: 100%;
        background-color: rgba(129, 131, 247, 0.849);
        border-bottom: 0.1rem solid rgb(255, 255, 255);
    }
}
    
/* Media Queries */

.logo-img {
    width: 3rem;
    height: 3rem;
}

.logo-title {
    color: white;
    font-size: 0.7rem;
    font-weight: 300;
}

.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
}
/* Media Queries */
@media (max-width: 600px) {
    .menu-container{
        display:flex;
        flex-direction:column;
        width: 100%;
    }
}
    
/* Media Queries */

.menu {
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* Media Queries */
@media (max-width: 600px) {
    .menu{
        width: 100%;
        padding: 0px;
        display:flex;
        flex-direction:column;
        margin: auto;
    }
}
    
/* Media Queries */

.menu-item {
    display: flex;
    flex: auto;
}
/* Media Queries */
@media (max-width: 600px) {
    .menu-item{
        width: 100%;
        background-color: rgba(129, 131, 247, 0.849);
        color: rgba(0,0,0, 0.75);
        border-bottom: 0.1rem solid rgb(255, 255, 255);
        text-shadow: none;
    }
}
    
/* Media Queries */

.menu-item-label {
    display: flex;
    text-shadow: #000 0px 0px 5px;
    flex: auto;
    justify-content: center;
    font-weight: bold;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/* Media Queries */
@media (max-width: 600px) {
    .menu-item-label {
        display: flex;
        text-shadow: #000 0px 0px 5px;
        flex: auto;
        justify-content: center;
        font-weight: bold;
        color: white;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}
    
/* Media Queries */

.menu-item-label:hover {
    background-color: rgba(143, 136, 136, 0.1);
    color: rgba(0,0,0, 0.75);
    border-bottom: 0.1rem solid rgb(255, 255, 255);
    text-shadow: none;
}



.content {
    display: flex;
    flex: auto;
    margin: 2rem;
    flex-direction: column;
    background-color: transparent;
    justify-content: space-around;
}

.container {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 50px;
}
/* Media Queries */
@media (max-width: 600px) {
    .container{
        display:flex;
        flex-direction:column;
    }
}
    
/* Media Queries */

.card {
    display: flex;
    flex:auto;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: none;
    background-color: rgba(0,0,0, 0.1);
    box-shadow: 8px 10px 5px 0px rgba(82,82,82,0.75);
    -webkit-box-shadow: 8px 10px 5px 0px rgba(82,82,82,0.75);
    -moz-box-shadow: 8px 10px 5px 0px rgba(82,82,82,0.75);
}

.card-img {
    height: 15rem;
    width: 15rem;
    border-radius: 20px;
    border: none;
    object-fit: cover;
}

.form-presentation-container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
/* Media Queries */
@media (max-width: 600px) {
    .form-presentation-container{
      display:flex;
      flex-direction:column;
    }
}
    
/* Media Queries */
.presentation-container{
    display: flex;
    flex: auto;
    flex-direction: column;
    margin-left: 2.5rem;
    justify-content: center;
    align-items: flex-start;
    height: 25rem;
}
/* Media Queries */
@media (max-width: 600px) {
    .presentation-container{
        margin-left: 0rem;
        justify-content: center;
        align-items: center;
    }
}
    
/* Media Queries */

.form-container {
    display: flex;
    flex: auto;
    margin-right: 2.5rem;
    flex-direction: column;
    border-radius: 1rem;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    height: 25rem;
}
/* Media Queries */
@media (max-width: 600px) {
    .form-container {
        margin-right: 0rem;
    }
}
    
/* Media Queries */

.formulario {
    display: flex;
    flex: auto;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255);
    padding: 0rem 2rem;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 10px 5px 0px rgba(82,82,82,0.75);
    -webkit-box-shadow: 8px 10px 5px 0px rgba(82,82,82,0.75);
    -moz-box-shadow: 8px 10px 5px 0px rgba(82,82,82,0.75);
}

.form-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.form-title {
    font-size: 30px;
    font-weight: bold;
    color: var(--primary-color);
}

.form-input-label {
    margin-bottom: 0.5rem;
}

#email {
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 8px;
    padding-left: 1rem;
    padding-right: 2rem;
    border: none;
    background-color: rgb(255, 255, 255, 0.90);
}

#email:focus , #password:focus {
    outline: none;
}

#password {
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 8px;
    padding-left: 1rem;
    padding-right: 2rem;
    border: none;
    background-color: rgb(255, 255, 255, 0.90);
}

.button-form {
    background-color: var(--primary-color);
    border-radius: 10px;
    border: none;
    color: var(--white-color);
    font-size: 16px;
    padding: 0.5rem 0.75rem;
} 


.title {
    font-size: 5rem;
    text-shadow: 4px 4px rgb(68, 67, 67);
    font-weight: bold;
    color: var(--white-color);    
}
/* Media Queries */
@media (max-width: 600px) {
    .title {
        display: flex;
        text-align: center;

    }
}
    
/* Media Queries */

.slogan{
    margin: 0.5rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--black-color);
    font-weight: 900;
    color: rgba(0, 0, 0, 0.726);
}
/* Media Queries */
@media (max-width: 600px) {
    .slogan{
        color: var(--white-color);
        text-shadow: 4px 4px rgb(68, 67, 67);
        text-align: center;
    }
}
    
/* Media Queries */

.footer {
    background-color: var(--fourth-color);  
}